<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Movie Title</th>
      <th scope="col">Movie Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.id }}</td>
      <td>{{ movie.title }}</td>
      <td>
        {{
          movie.description.length > 100
            ? movie.description.substring(0, 100) + "..."
            : movie.description
        }}
      </td>

      <td>
        <button (click)="DeleteMovie(movie)" class="btn btn-dark">🗑️</button>
        <button (click)="EditMovie(movie)" class="btn btn-dark">✏️</button>
      </td>
    </tr>
  </tbody>
</table>
