<div class="modal-header">
        <h4 class="modal-title">Edit Menue</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">

 
<div class="container">
<div class="row">
<div class="col-6">
<button class="btn btn-dark" (click)="EditMovieDetails()" >Edit Movie Details</button>
</div>

<div class="col-6">
        <button (click)="EditStream()" class="btn btn-dark">Edit Movie Stream</button>
    </div>
    

</div>   

</div>
</div>