

.movieIMG{
  object-fit: cover;
  width: 100%;
  max-height: 250px;

}

.rating {
    color: #8e44ad;
}


.grow{
    transition: all .2s ease-in-out;
}

.grow:hover
{
    transform: scale(1.05); 
    border: 1px  solid #e74c3c;
    
}


.card:hover .play{display:block};
  /* Add the animation on hover */
  .glow-border:hover::before {
    opacity: 1;
  }

  .play{
    position : absolute;
    display:none;
      top:40%; 
      width:40px;
      margin:0 auto; left:0px;
      right:0px;
      z-index:100
  } 

  .rating{
    position:absolute;
    z-index: 100;
    bottom: 0%;
    right: 6px;
  }